/* CSS Document */
.center_back{
  background-color:#FFF;
  opacity:.9;
  padding: 3px 3px 0px 10px;
}
#tools{
  top: 0;
  text-align:right;
}
header{
  padding-top:5px;
  margin-bottom:5px;
}
header .school_title{
  padding-bottom:0;
  font-size:90%;
  margin-bottom:0;
}
header  .rlo_title{
  font-size:180%;
  font-weight: bold;
  padding-top:5px;
  padding-bottom:0;
  margin-bottom:0;
}
html > body > div.container > nav#main_nav.navbar.navbar-default div{
  padding:0px;
}
html > body > div.container > nav#main_nav.navbar.navbar-default > div#bs-example-navbar-collapse-1.collapse.navbar-collapse > ul.nav.navbar-nav > li > a{
  padding:0px 5px;
}
.main_nav{
  font-size:80%;
  position: relative;
  z-index: 1000;
  margin-bottom:12px;
}

nav#main_nav ul li.alert-info{
  background-color:#DFF1FF;
}
.center img.img-responsive{
  margin:0 auto 5px auto;
}
.center iframe{
  margin:0 auto 5px auto;
  text-align:center;
  display:block;
  background-color:transparent;
}
article{
  clear:both;
  padding-top:10px;
  border:2px solid #3276B1;
  border-bottom:none;
  border-radius:10px 10px 0 0 ;
  margin-top:10px;
  padding:10px;
}
article h1{
  margin-top:10px;
  border-bottom:1px solid #3276B1;
}
footer{
  background-color:#000;
  color:#fff;
  padding:20px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom:10px;
}
footer ul{
  margin:0;
  padding:0;
  list-style:none;
}
footer p{
  margin-bottom:0px;
}
footer img{
  margin-top:5px;
}
footer a:link, footer a:visited{
  color:#428bca;
}
footer a:hover{
  color: #FFB900;
}
.pop_up_hide{
  display:none;
}
.panel_current{
  display:block;
}
#supporting_image{
  position:relative;
}
#pop_up_panel{
  position:absolute;
  top:0;
  margin:70px auto 0 auto;
}
/* START Video Player styling */
.player-wrapper {
  width: auto;
  height: auto;
}
.react-player {
  padding-top: 56.25%;
  position: relative;
}
.react-player > div {
  position: absolute;
}
/* END Video Player Styling */

@media(max-width:991px){
  #tools span.tool_text{
    display:none;
  }
}
@media(max-width:767px){
  header{
    display:none;
  }
  #tools{
    background-color:#999;
    padding:2px;
    text-align:center;
    float:none!important;
    position:fixed;right:0;left:0;z-index:1030;/*top:20px;*/
  }
  #tools span.tool_text{
    display:none;
  }
  #small_screen_menu_container{
    margin-top:40px;
  }
  #small_screen_menu_container p.rlo_title{
    font-size:180%;
    font-weight:bold;
    text-align:center;
  }
  #small_screen_menu{
    list-style:none;
    padding:0;
    margin:0;
  }
  #small_screen_menu li{
    padding:0;
    margin:0 0 5px 0;
  }
  article{
    border:none;
  }
  article h1{
    text-align:center;
    font-size:200%;
    padding-bottom:10px;
    border-bottom-width:2px;
  }
  footer div.text-right{
    text-align:center;
    margin-top:20px;
  }
  footer{
    text-align:center;
  }
  footer #footer_uon p{
    padding-top:25px;
    padding-bottom:20px;
    font-size:115%;
  }

  /* START STRESS RLO CODE*/
  #generic_healthcare_sudent{
    display:none;
  }
  #body-affect_btns{
    display:none;
  }
  #reset_button{
    display:none;
  }

}

@media(min-width:768px){

  /* START stress affect body styling */
  #body-affect_btns{
    padding:0;
    margin:10px 0;
    list-style:none;
    text-align:center;
  }
  #body-affect_btns li{
    display:inline;
    list-style:none;
  }
  .affect_body_container{
    border:4px solid #0194A0;
    border-radius:10px;
    padding:10px;
  }
  .panel .panel-heading{
    display:none;
  }
  .panel{
    border:none;
    box-shadow:none;
    -webkit-box-shadow:none;
  }
  .panel-group .panel-heading+.panel-collapse .panel-body{
    border-top:none;
  }
  /* END stress affect body styling */
  .post-it p.info{
    padding:60px 100px;
    font-size:120%;
    color:#fff;
    background-color:#0194A0;
  }
  .post-it p.close_info{
    padding:20px 100px;
    font-size:120%;
    color:#fff;
    background-color:#fff;
  }
  .post-it .post-it_heading{
    padding:60px 100px 0 100px;
    font-size:140%;
    color:#fff;
    background-color:#0194A0;
    text-align:center;
    margin-bottom:0;
  }


  .post-it_neg p.info{
    padding:60px 100px;
    font-size:120%;
    color:#fff;
    background-color:#A01547;
  }
  .post-it_neg p.close_info{
    padding:20px 100px;
    font-size:120%;
    color:#fff;
    background-color:#fff;
  }
  .post-it_neg .post-it_heading{
    padding:60px 0 0 0;
    font-size:140%;
    color:#fff;
    background-color:#A01547;
    text-align:center;
    margin-bottom:0;
  }


}
